table, td, th {
    border: 1px solid;
}

table {
    margin-top: 1rem;
    width: 100%;
    border-collapse: collapse;
}

table tbody tr input {
    width: 90%;
}

table tbody tr input,
table tbody tr button {
    pointer-events: auto !important;
}

table tbody tr td,
table thead tr th {
    padding: .25rem;
}

.text-row {
    width: 20rem;
}
.btns-row {
    width: 10rem;
}
