.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.page-container h1 {
    margin-bottom: .5rem;
}
.page-container a {
    margin-bottom: 1rem;
}

.btn-modal {
    background-color: silver;
    margin-right: .5rem;
    border: 1px solid black;
    padding: .25rem;
    border-radius: .3rem;
    cursor: pointer;
}

table, td, th {
    border: 1px solid;
}

table {
    margin-top: 1rem;
    width: 100%;
    border-collapse: collapse;
}

table tbody tr input {
    width: 90%;
}

table tbody tr input,
table tbody tr button {
    pointer-events: auto !important;
}

table tbody tr td,
table thead tr th {
    padding: .25rem;
}

.text-row {
    width: 20rem;
}
.btns-row {
    width: 10rem;
}
