body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(54, 54, 54);
  color: rgb(185, 185, 185);
}

a {
  color:antiquewhite;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.page-container h1 {
  margin-bottom: .5rem;
}
.page-container a {
  margin-bottom: 1rem;
}

.btn-modal {
  background-color: silver;
  margin-right: .5rem;
  border: 1px solid black;
  padding: .25rem;
  border-radius: .3rem;
  cursor: pointer;
}
